.show-message-container {
    margin: 0 auto;
    width: 50%;
}

.show-message-container-block-text {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.show-message-container-block-title {
    font-weight: bold;
    font-size: 26px;
}

.show-message-container-link {
    display: block;
    width: 250px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    background-color: #0d6aad;
    color: #FFFFFF;
    font-weight:bold;
    font-size: 26px;
}

.show-message-container-link:hover {
    background-color: #084263;
}


